* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif ;

}


body {
    background-color: rgb(20, 20, 20);
    background-image: url(./images/placeholder.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 40px;
}
.header-site {
    padding: 33px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.10);
}
.navbar {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between
}
.logo-link {
    display: flex;
    gap: 3px;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #34C759;
    font-weight: bold;
}
.logo-img {

}
.nav-list {
    list-style-type: none;
    display: flex;
    gap: 45px;
}
.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
.active {
    color: #34C759;
}
.menu-btn {
    display: none;
}
.hero {
    padding: 80px 0 57px 0;
}
.hero-heading {
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-size: 72px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 16px;
}
.hero-text {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    color: #ffffffb2;
    font-size: 16px;
}
.hero-btn {
    padding: 25px 58px;
    background-color: #34C759;
    border: none;
    border-radius: 43px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    font-size: 16px;
    letter-spacing: 4px;
    cursor: pointer;
    margin-bottom: 70px;
}
.info-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}
.info-item {
    width: 245px;
    padding: 5px 15px 24px 15px;
    text-align: center;
    margin: auto;
}
.info-icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
}
.info-text {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}
.info-span {
    line-height: 60px;
    color: #ffffff73;
}


.work {
    padding: 61px 0 0 0;
    background-color: rgb(20, 20, 20);
   
}
.title-box {
    position: relative;
    margin-bottom: 30px;
}
.title-box::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #34C759;
    margin: 0 auto;
}
.section-bg-title {
    text-align: center;
    font-size: 100px;
    color: #303030;
    font-weight: 900;
    font-family: "Roboto" sans-serif;
}
.section-title {
    color: #D9D9D9;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 6px;
    position: absolute;
    top: 35px;
    left: calc(50% - 130px);
}
.works-list {
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.works-item {
    width: 255px;
    padding: 24px;
    background-color: #252525;
    border-radius: 6px;
    margin: auto;
}
.works-heading {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 32px;
    text-transform: uppercase;
}
.works-heading::after {
    content: "";
    display: block;
    width: 56px;
    height: 2px;
    background-color: #34C759;
    margin-top: 10px;
    margin-bottom: 24px;
}
.works-text {
    color: #fff;
    font-size: 13px;
    letter-spacing: normal;
    margin-bottom: 36px;
}
.works-item:first-child {
    background-color: #34C759;
}

.works-item:first-child .works-heading {
    color: black;
}

.works-item:first-child .works-text {
    color: #191919;
}

.works-item:first-child .works-heading::after {
    background-color: #191919;
}

.dishes {
    padding: 61px 0 80px 0;
    background-color: rgb(20, 20, 20);
}

.dishes .section-bg-title {
    letter-spacing: 15px;
}
.dishes .section-title {
    left: calc(50% - 170px);
}
.dishes-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.dishes-item {
    max-width: 350px;
    position: relative;
    background-color: #252525;
    margin: auto;
}
.dishes-img {
    width: 100%;
    display: block;
    margin-bottom: 29px;
}
.share-btn {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    display: block;
    background-image: url(./images/share-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}
.dishes-title {
    margin: 0 30px;
    color: #D9D9D9;
    font-size: 32px;
    line-height: 30px;
    font-weight: 400;
}
.dishes-gift {
    margin: 0 30px;
    color: #A4A8B2;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
}
.dishes-desc {
    max-width: 290px;
    margin: 0 30px;
    color: #85878C;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.16px;
    margin-bottom: 20px;
}

.dishes-status-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 24px;
}

.dishes-item:first-child .order-btn, .dishes-item:last-child .order-btn  {
    background-color: #34C759;
    color: black;
    border: 1px solid #34C759;
}


.order-btn {
    padding: 0 32px;
    background-color: transparent;
    color: #ffffff7e;
    font-size: 10px;
    line-height: 40px;
    border-radius: 30px;
    border: 1px solid #ffffff7e;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}



.footer-site {
    background-color: #252525;
    padding: 30px 0;
}

.footer-bottom-box {
    border-top: 1px solid #303030;
    padding-top: 30px;
    text-align: center;
}

.footer-site .logo-link {
    justify-content: center;
}

.footer-text {
    text-align: center;
    line-height: 60px;
    color: #737373;
    font-size: 12px;

}




/* Responsive */



@media (max-width: 900px) {




    .active {
        color: #34C759;
    }

    .logo-link {
        gap: 3px;
        font-size: 12px;
    }

    .hero-heading {
        font-size: 60px;
        max-width: 600px;
        letter-spacing: 2px;
    }
    .hero-btn {
        padding: 20px 50px;
        font-size: 14px;
        letter-spacing: 2px;
    }
    .info-list {
        gap: 40px;
    }
    
    .info-text {
        font-size: 14px;
        
    }
    .info-span {
        font-size: 14px;
    }

    .works-item {
        flex-direction: column;
    }
    
}

@media (max-width: 768px) {


    .nav-list {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 90px;
        background-color: black;
        padding: 10px 20px;
        transition: 0.3s ease;
        transform: translateY(-130%);
        
    }

    .open .nav-list {
        transform: translateY(0);
    }

    .logo-link {
        gap: 3px;
        font-size: 8px;
    }
    .menu-btn {
        display: block;
        border: none;
        background-color: #34C759;
        width: 60px;
        height: 40px;
        border-radius: 5px;
        font-size: 12px;
        
    }

    .active {
        color: #34C759;
    }
    .logo-img {
        width: 19px;
    }

    .hero-heading {
        font-size: 40px;
        max-width: 500px;
        letter-spacing: 2px;
    }
    .hero-text {
        font-size: 13px;
        max-width: 400px;
    }
    .hero-btn {
        padding: 15px 30px;
        font-size: 12px;
        letter-spacing: 2px;
    }

    .info-item {
        padding: 5px 10px 20px 10px;
    }

    .info-list {
        gap: 30px;
    }
    
    .info-text {
        font-size: 10px;
        
    }
    .info-span {
        font-size: 10px;
    }
    .info-icon {
        width: 15px;
    }
}

@media (max-width:600px) {

    .active {
        color: #34C759;
    }

    .logo-link {
        gap: 3px;
        font-size: 9px;
    }
    .logo-img {
        width: 14px;
    }

    .hero-heading {
        font-size: 30px;
        max-width: 400px;
        letter-spacing: 2px;
    }
    .hero-text {
        font-size: 10px;
        max-width: 350px;
    }
    .hero-btn {
        padding: 10px 20px;
        font-size: 10px;
        letter-spacing: 2px;
        margin-bottom: 50px;
    }

    
    .info-list {
        gap: 20px;
    }
    
    .info-text {
        font-size: 9px;
        
    }
    .info-span {
        font-size: 9px;
    }
    .info-icon {
        width: 13px;
    }

    .hero-heading{
        font-size: 30px;
    }

    .hero-text{
        font-size: 10px;
    }
}

@media (max-width: 430px) {
    
    .hero-heading {
        font-size: 20px;
        max-width: 300px;
        letter-spacing: 3px;
    }
    .hero-text {
        font-size: 9px;
        max-width: 300px;
    }
    .hero-btn {
        padding: 8px 10px;
        font-size: 8px;
        letter-spacing: 2px;
        margin-bottom: 40px;
    }

    
    .info-list {
        gap: 15px;
    }
    
    .info-text {
        font-size: 6px;
        
    }
    .info-span {
        font-size: 6px;
    }
    .info-icon {
        width: 10px;
    }

    .info-list {
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        flex-wrap: wrap;
    }

    .section-bg-title {
        font-size: 50px;
    }

    .section-title {
        font-size: 16px;
        letter-spacing: 4px;
        position: absolute;
        top: 25px;
        right: calc(50% - 160px);
    }
}

@media (max-width:400px) {

    .hero-heading {
        font-size: 15px;
        max-width: 300px;
        letter-spacing: 3px;
    }
    .hero-text {
        font-size: 7px;
        max-width: 300px;
        margin-bottom: 35px;
    }
    .hero-btn {
        padding: 5px 8px;
        font-size: 6px;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }

    
    .info-list {
        gap: 15px;
    }
    
    .info-text {
        font-size: 6px;
        
    }
    .info-span {
        font-size: 6px;
    }
    .info-icon {
        width: 10px;
    }

    .hero-heading{
        font-size: 20px;
    }

    .hero-text{
        font-size: 7px;
    }

    .dishes-item {
        max-width: 280px;
    }

    .start-icon {
        width: 100px;
    }

    .order-btn {
        padding: 0 19px;
        font-size: 8px;
        line-height: 35px;
        border-radius: 30px;
        border: 1px solid #ffffff7e;
        letter-spacing: 2px;
        margin-left: 10px;
    }

}

/* Responsive */